.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
    width: 100%;
}

.example-radio-group {
    display: flex;
    flex-direction: row;
    margin: 15px 0;
    align-items: flex-start;
}

.example-radio-button {
    margin: 5px;
}

.custom-search-css {
    margin-left: 192px;
    width: 103px;
    height: 50px;
}

table {
    width: 100%;
    margin-bottom: 16px;
  }

  .customer-details 
  {
    margin: 12px;
  }

  .policy-details
  {
    margin: 12px;
  }